<h2 mat-dialog-title>Ajouter un invité</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nom invité</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Date d'expiration</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expirationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">Créer</button>
</mat-dialog-actions>
