<div class="flex h-screen">
  <!-- Sidebar -->
  <nav class="w-64 bg-gray-800 text-white p-4">
    <h2 class="text-lg font-bold mb-4">Admin Panel</h2>
    <ul class="space-y-2">
      <li>
        <a routerLink="user-list" routerLinkActive="font-bold"
          >👤 Utilisateurs</a
        >
      </li>
      <li>
        <a routerLink="alerts" routerLinkActive="font-bold">🚨 Alertes</a>
      </li>
      <li>
        <a routerLink="presence-status" routerLinkActive="font-bold"
          >📋 Présences</a
        >
      </li>
      <li>
        <a routerLink="guest-card" routerLinkActive="font-bold"
          >🎫 Carte invités</a
        >
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="flex-1 p-6 overflow-auto bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>
